version: "3.8"

services:
  server:
    build: .
    ports:
      - "5050:5050"
    networks:
      - pro-network

  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: docker
      MYSQL_PASSWORD: root
      MYSQL_DATABASE: productdb
    ports:
      - "3307:3306"
    networks:
      - pro-network
    volumes:
      - mysql-data:/var/lib/mysql

networks:
  pro-network:
    driver: bridge

volumes:
  mysql-data:
